<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
</head>
<body style="background-color: lightgrey">
  <div class="header">
        <div class="app_name">
        <h1 style="background-color: navy; color : white">Catalog App</h1>
        </div>
        <div style="margin-left: 88%">
        <a href="{{url_for('gdisconnect')}}">log out</a>
        </div>
  </div>
  <p>Are you sure you want to delete {{item_name}}?</p>
  <form action="{{ url_for('delete_item', item_name=item_name)}}" method='post'>
  <input type='submit', name='submit', value='Delete'>
  <input type='submit', name='submit', value='Cancel'>
  </form>

</body>
</html>